@model lib.Messages.RequestMessage
@{
    ViewData["Title"] = "Send Request";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>
    Select an integer,
</p>
<div asp-validation-summary="All"></div>
<form action="/Request/Send" method="post">
    <div>
        <select asp-for="Count">
            @for (var i = 1; i < 10; i++)
            {
                <option>@i</option>
            }
        </select>
        <br /><button type="submit">Submit Message</button>
    </div>
</form>